:root {
  font-size: 60%;
  --main-color-background: rgba(11, 16, 20, 255);
  --font-color-primary: rgba(210, 209, 204, 255);
  --font-color-second: rgba(123, 140, 152, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html,
body,
#root {
  height: 100vh;
  color: var(--font-color-primary);
}

body {
  background: var(--main-color-background);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}